<form>
  <label for="blood-urea">Blood Urea:</label><br>
  <input type="text" id="blood-urea" name="blood-urea"><br>

  <label for="blood-glucose-random">Blood Glucose Random:</label><br>
  <input type="text" id="blood-glucose-random" name="blood-glucose-random"><br>

  <label for="anemia">Anemia:</label>
  <select id="anemia" name="anemia">
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select><br>

  <label for="coronary-artery-disease">Coronary Artery Disease:</label>
  <select id="coronary-artery-disease" name="coronary-artery-disease">
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select><br>

  <label for="pus-cell">Pus Cell:</label>
  <select id="pus-cell" name="pus-cell">
    <option value="present">Present</option>
    <option value="not-present">Not Present</option>
  </select><br>

  <label for="red-blood-cell-level">Red Blood Cell Level:</label>
  <select id="red-blood-cell-level" name="red-blood-cell-level">
    <option value="normal">Normal</option>
    <option value="abnormal">Abnormal</option>
  </select><br>

  <label for="diabetes-mellitus">Diabetes Mellitus:</label>
  <select id="diabetes-mellitus" name="diabetes-mellitus">
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select><br>

  <label for="pedal-edema">Pedal Edema:</label>
  <select id="pedal-edema" name="pedal-edema">
    <option value="present">Present</option>
    <option value="not-present">Not Present</option>
  </select><br>

  <input type="submit" value="Predict">
</form>
