<body>
    <h1>CHRONIC KIDNEY DISEASE</h1>
    <p></p>
  </body>
</html>
<form>
  <label for=" "></label><br>
  <input type="text" id="blood-urea" name="blood-urea"><br>

  <label for=" "></label><br>
  <input type="text" id="blood-glucose-random" name="blood-glucose-random"><br>

  <label for=" "></label>
  <select id="anemia" name="anemia">
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select><br>
  <label for=" "></label>
  <select id="coronary-artery-disease" name="coronary-artery-disease">
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select><br>

  <label for=" "></label>
  <select id="pus-cell" name="pus-cell">
    <option value="normal">normal</option>
    <option value="abnormal">abnormal</option>
  </select><br>

  <label for=" "></label>
  <select id="red-blood-cell-level" name="red-blood-cell-level">
    <option value="normal">Normal</option>
    <option value="abnormal">Abnormal</option>
  </select><br>

  <label for=" "></label>
  <select id="diabetes-mellitus" name="diabetes-mellitus">
    <option value="yes">Yes</option>
    <option value="no">no</option>
  </select><br>

  <label for=" "></label>
  <select id="pedal-edema" name="pedal-edema">
    <option value="yes">yes</option>
    <option value="no">no</option>
  </select><br>

  